{% extends "base.html" %}

{% block contents %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<div class="contents-wrap">
    <h2 class="menu-name">크로스 차트</h2>
    <div class="cross-chart">
        <form action="" method="GET">
            골든크로스 :
            <select name="isReverseGc">
                {% if isReverseGc == True %}
                    <option value="True" selected>상위</option>
                {% else %}
                    <option value="True">상위</option>
                {% endif %}
                {% if isReverseGc == False %}
                    <option value="" selected>하위</option>
                {% else %}
                    <option value="">하위</option>
                {% endif %}
            </select>
            <select name="itemCountGc">
                {% if itemCountGc == 5 %}
                    <option value="5" selected>5개</option>
                {% else %}
                    <option value="5">5개</option>
                {% endif %}
                {% if itemCountGc == 10 %}
                    <option value="10" selected>10개</option>
                {% else %}
                    <option value="10">10개</option>
                {% endif %}
                {% if itemCountGc == 15 %}
                    <option value="15" selected>15개</option>
                {% else %}
                    <option value="15">15개</option>
                {% endif %}
            </select>
            데드크로스 :
            <select name="isReverseDc">
                {% if isReverseDc == True %}
                    <option value="True" selected>상위</option>
                {% else %}
                    <option value="True">상위</option>
                {% endif %}
                {% if isReverseDc == False %}
                    <option value="" selected>하위</option>
                {% else %}
                    <option value="">하위</option>
                {% endif %}
            </select>
            <select name="itemCountDc">
                {% if itemCountDc == 5 %}
                    <option value="5" selected>5개</option>
                {% else %}
                    <option value="5">5개</option>
                {% endif %}
                {% if itemCountDc == 10 %}
                    <option value="10" selected>10개</option>
                {% else %}
                    <option value="10">10개</option>
                {% endif %}
                {% if itemCountDc == 15 %}
                    <option value="15" selected>15개</option>
                {% else %}
                    <option value="15">15개</option>
                {% endif %}
            </select>
            <div class="date-search">
                <input type="date" name="startDate" id ="startDate" value="{{startDate}}" onchange="chageEndDate(this)"> ~
                <input type="date" name="endDate" id="endDate" value="{{endDate}}" onchange="chageStartDate(this)">
            </div>
            <button type="submit">검색</button>
        </form>
        <canvas id="gcCrossChart" style="margin-top: 3%; margin-bottom: 5%"></canvas>
        <canvas id="dcCrossChart"></canvas>
    </div>
</div>
<script>
    window.onload = function(){
        const endDate = document.getElementById('endDate');
        const startDate = document.getElementById('startDate');
        const offset = new Date().getTimezoneOffset() * 60000;
    
        startDate.max = new Date(Date.now() - offset).toISOString().substring(0, 10);
        endDate.max = startDate.max
        
        if(document.getElementById('startDate').value){
            chageEndDate()
        }
        if(document.getElementById('endDate').value){
            chageStartDate()
        }
    }

    function chageEndDate(){
        endDate.min = document.getElementById('startDate').value;
    }
    function chageStartDate(){
        startDate.max = document.getElementById('endDate').value;
    }

    var randomColorPlugin = {
        // We affect the `beforeUpdate` event
        beforeUpdate: function(chart) {
            var backgroundColor = [];
            var borderColor = [];
            // For every data we have ...
            for (var i = 0; i < chart.config.data.datasets[0].data.length; i++) {

                // We generate a random color
                var color = "rgba(" + Math.floor(Math.random() * 255) + "," + Math.floor(Math.random() * 255) + "," + Math.floor(Math.random() * 255) + ",";

                // We push this new color to both background and border color arrays
                // .. a lighter color is used for the background
                backgroundColor.push(color + "0.2)");
                borderColor.push(color + "1)");
            }

            // We update the chart bars color properties
            chart.config.data.datasets[0].backgroundColor = backgroundColor;
            chart.config.data.datasets[0].borderColor = borderColor;
        }
    };

    Chart.pluginService.register(randomColorPlugin);

    var gcConfig = {
    type: 'bar',
    data: {
        labels: {{gcLabels|safe}},
        datasets: [{
            data: {{gcData|safe}},
            backgroundColor: [
                
            ],
            borderColor: [
            
            ],
            borderWidth: 1,
            label: "골든크로스 count 차트"
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
    };

    var dcConfig = {
    type: 'bar',
    data: {
        labels: {{dcLabels|safe}},
        datasets: [{
            data: {{dcData|safe}},
            backgroundColor: [
                
            ],
            borderColor: [
            
            ],
            borderWidth: 1,
            label: "데드크로스 count 차트"
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
    };

    var gcCtx = document.getElementById('gcCrossChart').getContext('2d');
    var gcCrossChart = new Chart(gcCtx, gcConfig);

    var dcCtx = document.getElementById('dcCrossChart').getContext('2d');
    var dcCrossChart = new Chart(dcCtx, dcConfig);
</script>
{% endblock %}