{% extends "base.html" %}

{% block contents %}
<div class="contents-wrap">
    <h2 class="menu-name">크로스 리스트</h2>
    <h3 class="menu-describe">조건 : 업비트 차트의 최근 4시간 캔들 21개를 살펴봤을 때</h3>
    <h3 class="menu-describe">1. 데드크로스 : 현재가 < 20시간 평균가 AND 20시간 평균가 < 80시간 평균가 AND 4시간 전에는 20시간 평균가 > 80시간 평균가</h3>
    <h3 class="menu-describe">2. 골든크로스 : 현재가 > 20시간 평균가 AND 20시간 평균가 > 80시간 평균가 AND 4시간 전에는 20시간 평균가 < 80시간 평균가</h3>
    <form class="search-form" action="" method="GET" style="margin-top: 2%">
        <div class="saerch">
            <input type="text" name="keyword" value="{{keyword}}" placeholder="키워드 입력">
            <select name="type">
                <option value="">전체</option>
                {% if type == 'goldencross' %}
                    <option value="goldencross" selected>골든크로스</option>
                {% else %}
                    <option value="goldencross">골든크로스</option>
                {% endif %}
                {% if type == 'deadcross'%}
                    <option value="deadcross" selected>데드크로스</option>
                {% else %}
                    <option value="deadcross">데드크로스</option>
                {% endif %}
            </select>
        </div>
        <div class="date-search">
            <input type="date" name="startDate" id="startDate" value="{{startDate}}" onchange="chageEndDate(this);"> ~
            <input type="date" name="endDate" id="endDate" value="{{endDate}}" onchange="chageStartDate(this);">
        </div>
        <div class="button">
            <button type="submit">검색</button>
        </div>
    </form>
    <script>
        const endDate = document.getElementById('endDate');
        const startDate = document.getElementById('startDate');
        const offset = new Date().getTimezoneOffset() * 60000;
        
        startDate.max = new Date(Date.now() - offset).toISOString().substring(0, 10);
        endDate.max = startDate.max

        window.onload = function(){
            if(document.getElementById('startDate').value){
                chageEndDate()
            }
            if(document.getElementById('endDate').value){
                chageStartDate()
            }
        }

        function chageEndDate(){
            endDate.min = document.getElementById('startDate').value;
        }
        function chageStartDate(){
            startDate.max = document.getElementById('endDate').value;
        }
    </script>

    <table class="coin-list">
        {% if crossList|length <= 0 %}
            데이터가 없습니다.
        {% endif%}
        {% if crossList|length > 0 %}
        <tr>
            <td>코드명</td>
            <td>영문명</td>
            <td>한글명</td>
            <td>가격</td>
            <td>등락률</td>
            <td>구분</td>
            <td>비고</td>
            <td>일시</td>
        </tr>
            {% for cross in crossList %}
                <tr>
                    <td>{{cross.coinCode}}</td>
                    <td>{{cross.englishName}}</td>
                    <td>{{cross.koreaName}}</td>
                    <td>{{cross.tradePrice|floatformat}}₩</td>
                    <td>{{cross.oneDayRate|floatformat:-2}}%</td>
                    <td>{{cross.type}}</td>
                    <td>{{cross.remark}}</td>
                    <td>{{cross.createdTime|date:'y-m-d H:i:s'}}</th>
                </tr>
            {% endfor %}
        {% endif%}
    </table>

    <h5>
        {% if pageCount != 0 %}
            {% if page != 1 %}
                <a href='?page=1&keyword={{keyword}}&type={{type}}&startDate={{startDate}}&endDate={{endDate}}'>처음</a>
            {% endif %}

            {% if page != 1 %}
                <a href='?page={{page|add:-1}}&keyword={{keyword}}&type={{type}}&startDate={{startDate}}&endDate={{endDate}}'>이전</a>
            {% endif %}
            
            {% for index in pageRange %}
                {% if index != 0 %}
                    {% if index == page %}
                        <a class="page-active" href = "?page={{index}}&keyword={{keyword}}&type={{type}}&startDate={{startDate}}&endDate={{endDate}}">{{index}}</a>
                    {% else %}
                        <a href = "?page={{index}}&keyword={{keyword}}&type={{type}}&startDate={{startDate}}&endDate={{endDate}}">{{index}}</a>
                    {% endif %}
                {% endif %}
            {% endfor %}

            {% if page != pageCount %}
                <a href='?page={{page|add:+1}}&keyword={{keyword}}&type={{type}}&startDate={{startDate}}&endDate={{endDate}}'>다음</a>
                <a href='?page={{pageCount}}&keyword={{keyword}}&type={{type}}&startDate={{startDate}}&endDate={{endDate}}'>끝</a>
            {% endif %}
        {% endif %}
    </h5>
</div>
{% endblock %}